<div class="main-contains">
  <div class="main-contains-box">
    <div class="header">
      <%= render "shared/header" %>
    </div>
    <div class="main-box">
    </div>
    <div class="footer">
      <%= render "shared/footer" %>
    </div>
  </div>
</div>