<div class="header-main">
  <div class="header-contains">
    <div class="header-title">
      Schedule Index
    </div>
    <ul class="lists">
      <li class="list">ログイン</li>
      <li class="list">新規登録</li>
      <li class="list">カレンダー</li>
    </ul>
  </div>
</div>