/* 新規登録画面 */
.sign-up-main{
  height: 100vh;
}

.sign-up-main-container{
  height: 400px;
  width: 500px;
  background-color: aqua;
  margin: 200px auto;
  padding: 30px 0;
  border-radius: 10px;
}

.sign-up-header{
  text-align: center;
}

.sign-up-input{
  text-align: center;
}

.sign-up-field{
  margin-bottom: 20px;
}

.sign-up-field-email{
  width: 300px;
  height: 30px;
}

.sign-up-field-password{
  width: 300px;
  height: 30px;
}

.sign-up-field-new-password{
  width: 300px;
  height: 30px;
}

.sign-up-actions{
  margin-bottom: 20px;
}