/* トップ画面 */
.main-contains{
  background-color: red;
  height: 100vh;
}

.header{
  background-color: khaki;
  height: 50px;
}

.main-box{
  height: 100%;
}

.footer{
  background-color: forestgreen;
  height: 50px;
}